*
!.gitignore

// Fixtures exterior images
!degustation-emotion-shopfront-during-day-2574489.jpg
!thumbnail-degustation-emotion-shopfront-during-day-2574489.webp
!man-standing-outside-trattoria-pizzeria-store-1653702.jpg
!thumbnail-man-standing-outside-trattoria-pizzeria-store-1653702.webp
!man-wearing-black-hoodie-standing-near-countertop-769153.jpg
!thumbnail-man-wearing-black-hoodie-standing-near-countertop-769153.webp
!people-sitting-on-chair-outside-restaurant-3596677.jpg
!thumbnail-people-sitting-on-chair-outside-restaurant-3596677.webp
!people-sitting-on-chairs-in-front-of-red-and-white-unks-bar-3793319.jpg
!thumbnail-people-sitting-on-chairs-in-front-of-red-and-white-unks-bar-3793319.webp
!photo-of-coffee-neon-signage-2687131.jpg
!thumbnail-photo-of-coffee-neon-signage-2687131.webp
!restaurants-serving-outdoors-2276797.jpg
!thumbnail-restaurants-serving-outdoors-2276797.webp
!store-facade-2679323.jpg
!thumbnail-store-facade-2679323.webp
!the-creperie-store-photography-776938.jpg
!thumbnail-the-creperie-store-photography-776938.webp
!white-ceramic-pot-near-brown-parasol-785528.jpg
!thumbnail-white-ceramic-pot-near-brown-parasol-785528.webp
!woman-in-white-top-sitting-outside-the-artichore-shop-1438445.jpg
!thumbnail-woman-in-white-top-sitting-outside-the-artichore-shop-1438445.webp
!woman-sitting-on-wooden-chair-1850626.jpg
!thumbnail-woman-sitting-on-wooden-chair-1850626.webp

// Fixtures interior images
!table-in-vintage-restaurant-6267.jpg
!leather-chairs-in-restaurant-2193600.jpg
!inside-of-a-cafe-3398253.jpg
!coffee-and-cake-near-book-2478330.jpg
!clean-coffee-shop-2467287.jpg
!people-in-cafe-2788792.jpg
!brown-wooden-table-with-empty-glasses-and-plates-in-a-cafe-4676640.jpg
!rectangular-brown-wooden-table-2867885.jpg
!woman-standing-near-display-counter-1402407.jpg
!woman-sitting-on-bar-chair-near-barista-2506993.jpg